.section {
    background-color:rgba(47, 48, 58, 1) ;
}
.section-title {
    color: white;
}
.section-btn {
    background-color: rgba(33, 150, 243, 1);
}
.btn-text {
    color: white;
}
.link {
color: black;
}
.link-span {
    color: rgba(33, 150, 243, 1);
}
.footer {
    background-color: rgba(47, 48, 58, 1);
}
.footer-link {
    color: white;
}
.link-span-rep {
    color: rgba(33, 150, 243, 1);
}
.address-link {
    color: rgba(250, 250, 250, 0.6)
}
.address-link-rep {
        color: rgba(250, 250, 250, 0.6)
}
.footer-address {
    color: rgb(250, 250, 250);
}
.btn {
    background-color: rgba(33, 150, 243, 1);
        height: 38px;
        width: 73px;
}